---
---

@import 'grid';
@import 'tex-poshlet';
@import 'tufte';
@import 'cm';



body {
  font-family: "CMU Serif", serif;
}



/*
html {
    font-size:30px;
}

p {
    margin:0;
    @include grid(2px,1ex,red);
}

p img {
    margin-top: -10em !important;
}
*/


.wrap {
    display: inline-block;
    vertical-align: baseline;
    overflow: visible;
    width: 0;
}

.rule {
    height: 1ex;
    position: relative;
    left: -10vw;
    width: 90vw;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid red;
    z-index: -1000;
}

