<style>
  /* https://www.ctan.org/tex-archive/fonts/cm-unicode/fonts/otf */
  @font-face{ font-family: "CMU Serif"; src: url("assets/fonts/cmunrm.otf"); }
  @font-face{ font-family: "CMU Serif"; src: url("assets/fonts/cmunbx.otf"); font-weight:bold; }
  @font-face{ font-family: "CMU Serif"; src: url("assets/fonts/cmunti.otf"); font-style:italic; }
  @font-face{ font-family: "CMU Serif"; src: url("assets/fonts/cmunbi.otf"); font-weight:bold; font-style:italic; }

  .page-header {
    background-image: {{ site.data.geo_pattern }}
  }

  .latex {
    color: black;
    font-family: 'CMU Serif';
    background: hsl(46,65%,91%);
    padding: 1em;
    border: 1px dashed hsl(46,65%,52%);
    margin: 0 5vw;
  }

  .antex.inline { line-height: 1 !important; }
  .antex.display { display: flex; }
  .antex.display > img { margin: .5em auto !important; }
</style>
