// https://www.ctan.org/tex-archive/fonts/cm-unicode/fonts/otf

@font-face{ font-family: "CMU Serif"; src: url("cm/cmunrm.otf"); }
@font-face{ font-family: "CMU Serif"; src: url("cm/cmunbx.otf"); font-weight:bold; }
@font-face{ font-family: "CMU Serif"; src: url("cm/cmunti.otf"); font-style:italic; }
@font-face{ font-family: "CMU Serif"; src: url("cm/cmunbi.otf"); font-weight:bold; font-style:italic; }

body {
/*  font-family: "CMU Serif", serif;*/
}

