name: CI

on:
  push:
  pull_request:

jobs:
  main:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        ruby: ["2.6", "2.7", "3.0", "3.1", "3.2", "3.3", "3.4", "4.0"]
        include:
          - os: ubuntu-latest
            ruby: "3.4"
            coverage: true
    env:
      BUNDLE_WITHOUT: development

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Setup TeX Live
        uses: paolobrasolin/setup-texlive-action@main
        with:
          cache-key: texlive-${{ matrix.os }}
          packages-path: ${{ github.workspace }}/.github/texlive.packages
          profile-path: ${{ github.workspace }}/.github/texlive.profile

      - name: Run tests
        run: bundle exec rspec

      - name: Push coverage data to Coveralls
        uses: coverallsapp/github-action@v2
        if: ${{ matrix.coverage && github.ref == 'refs/heads/main' }}
